%h1 Weeks
.table-responsive
  %table.table.table-hover
    %thead
      %tr
        %th Semester
        %th Week
        %th Nickname
        %th Event
        %th Start date
        %th End date
    %tbody
      - @weeks.each do |week|
        %tr{onclick: "window.location = \"#{edit_week_path(week)}\";"}
          %td= week.semester
          %td= week.number
          %td= week.nickname.name if not week.nickname.nil?
          %td= week.event
          %td= week.start_date.strftime('%B %d, %Y')
          %td= week.end_date.strftime('%B %d, %Y')
