<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @week.number %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @week.semester %>
</p>

<p>
  <strong>Event:</strong>
  <%= @week.event %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @week.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @week.end_date %>
</p>

<%= link_to 'Edit', edit_week_path(@week) %> |
<%= link_to 'Back', weeks_path %>
