%h1 Nicknames
.table-responsive
  %table.table.table-hover
    %thead
      %tr
        %th Name
        %th Comment
        %th Week
    - @nicknames.each do |nickname|
      %tbody
        %tr{onclick: "window.location = \"#{edit_nickname_path(nickname)}\";"}
          %td= nickname.name
          %td= nickname.comment
          - week = nickname.week
          %td= "#{week.semester} - #{week.number}" if not week.nil?
