%h1 Listing nicknames

%table
  %tr
    %th Name
    %th Comment
    %th Rating
    %th Week
    %th
    %th
    %th

  - @nicknames.each do |nickname|
    %tr
      %td= nickname.name
      %td= nickname.comment
      %td= nickname.rating
      %td= nickname.week
      %td= link_to 'Show', nickname
      %td= link_to 'Edit', edit_nickname_path(nickname)
      %td= link_to 'Destroy', nickname, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Nickname', new_nickname_path
