.well
  = form_for @suggestion, html: {class: 'form-horizontal'} do |f|
    - if @suggestion.errors.any?
      #error_explanation
        %h2= "#{pluralize(@suggestion.errors.count, "error")} prohibited this suggestion from being saved:"
        %ul
          - @suggestion.errors.full_messages.each do |msg|
            %li= msg
    %legend= title
    .form-group
      = f.label :submitter, class: 'control-label col-lg-2'
      .col-lg-10
        = f.text_field :submitter, class: 'form-control', placeholder: 'Optional'
    .form-group
      = f.label 'Nickname', class: 'control-label col-lg-2'
      .col-lg-10
        = f.text_field :name, class: 'form-control', placeholder: 'Nickname'
    .form-group
      = f.label :description, class: 'control-label col-lg-2'
      .col-lg-10
        = f.text_area :description, class: 'form-control', placeholder: 'Anything additional you would like to add, specific time for this nickname, etc.'
    .form-group
      .div.col-lg-offset-2.col-lg-10
        = f.submit 'Submit', class: 'btn btn-primary'