%h1 Suggestions

.table-responsive
  %table.table.table-hover
    %thead
      %tr
        %th Name
        %th Description
        %th Submitter
        %th Delete
    %tbody
      - @suggestions.each do |suggestion|
        %tr{onclick: "window.location = \"#{edit_suggestion_path(suggestion)}\";"}
          %td= suggestion.name
          %td= suggestion.description
          %td= suggestion.submitter
          %td= link_to 'Destroy', suggestion, :method => :delete, :data => { :confirm => 'Are you sure?' }
